
header{
    background-image:url(../image/tumblr_nbaqc8zjMy1rxwrzxo1_500.gif) ;
    background-size: cover;
    height: 730px;
    max-width: 2000px;
    
    
}
h2{
    text-align: center;
    color: whitesmoke;
    font-weight: bolder;
    background-color:rgb(117, 176, 199);
    
    
}
#day1{
    background-color:rgb(179, 200, 207);
    padding: 10px;
    margin: 10px;
    border: 20px solid rgb(179, 200, 207);
    box-shadow: 10px 10px 10px rgb(179, 200, 207);
}
#day2{
    background-color: rgb(190, 215, 220)
    ;
    padding: 10px;
    margin: 10px;
    border: 20px solid rgb(190, 215, 220);
    box-shadow: 10px 10px 10px rgb(179, 200, 207);
}
#day3{
    background-color: rgb(241, 238, 220);
    padding: 10px;
    margin: 10px;
    border: 20px solid rgb(241, 238, 220);
    box-shadow: 10px 10px 10px rgb(179, 200, 207);
}
#day4{
    background-color: rgb(229, 221, 197);
    padding: 10px;
    margin: 10px;
    border: 20px solid rgb(229, 221, 197) ;
    box-shadow: 10px 10px 10px rgb(179, 200, 207);
}
div{
    border: 10px solid rgb(190, 215, 220);
    box-shadow: 10px 10px 10px rgb(179, 200, 207);
    padding-top: 20px;
    font-family: "Gamja Flower", sans-serif;

}
a{
    color:whitesmoke;
    text-decoration: none;
}
.btn{

    
    background-color: rgb(229, 221, 197);

}
.text{
    text-align: center;
}
.btn:hover{
    background-color:rgb(120, 177, 196);
}
